@{
    ViewData["Title"] = "Home Page";
}

@*website at https://net22azuredemodw.azurewebsites.net/*@

<div class="text-center">
    @if(ViewBag.Greeting == null)
    {
        <p>Greeting not found</p>
    }
    else
    {
        <h1 class="display-4">@ViewBag.Greeting</h1>
    }
</div>
